export PATH=${PATH}:/usr/local/bin
export EDITOR=vim
export TERM='xterm-color'

export HISTSIZE=10000 # Store 10k history entries

set completion-ignore-case on
set -o vi # Use vi for CLI

cd() {
    builtin cd "$@" && ls
}
